In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_excel('CianDataset2020.xlsx')
print(df_train)

                                           url           date_saved District1  \
0      https://www.cian.ru/sale/flat/11825143/  2020-04-27 00:08:05      ЮВАО
1      https://www.cian.ru/sale/flat/12047605/  2020-04-29 01:01:33       САО
2      https://www.cian.ru/sale/flat/12108103/  2020-05-18 19:08:01       ЦАО
3       https://www.cian.ru/sale/flat/1217743/  2020-04-30 12:20:18       САО
4      https://www.cian.ru/sale/flat/12939895/  2020-05-01 21:10:36       САО
...                                        ...                  ...       ...
51585  https://www.cian.ru/sale/flat/51105793/  2020-05-19 21:46:02       ВАО
51586  https://www.cian.ru/sale/flat/51936209/  2020-05-20 01:06:11      ЮЗАО
51587   https://www.cian.ru/sale/flat/6651416/  2020-04-26 14:01:07       САО
51588    https://www.cian.ru/sale/flat/889171/  2020-04-28 12:32:29      СЗАО
51589   https://www.cian.ru/sale/flat/9331361/  2020-04-28 13:30:17       ЦАО

      District2                                     ad_breadCrumbs  \
0          ЮВАО  Недвижимость в Москве, Продажа, Продажа 3-комн...
1           САО  Недвижимость в Москве, Продажа, Продажа 3-комн...
2           ЦАО  Недвижимость в Москве, Продажа, Продажа 2-комн...
3           САО  Недвижимость в Москве, Продажа, Продажа 3-комн...
4           САО  Недвижимость в Москве, Продажа, Продажа 2-комн...
...         ...                                                ...
51585       ВАО  Недвижимость в Москве, Продажа, Продажа 2-комн...
51586      ЮЗАО  Недвижимость в Москве, Продажа, Продажа 3-комн...
51587       САО  Недвижимость в Москве, Продажа, Продажа 3-комн...
51588      СЗАО  Недвижимость в Москве, Продажа, Продажа 3-комн...
51589       ЦАО  Недвижимость в Москве, Продажа, Продажа 3-комн...

            ad_change_time ad_objectType  ad_offerPhone    ad_price  \
0      2020-03-20 12:03:00      flat_old   7.985997e+10  18800000.0
1      2020-03-16 14:40:58      flat_old   7.916812e+10  50000000.0
2      2020-03-03 23:34:16      flat_old            NaN  55000000.0
3                      NaN      flat_old   7.964500e+10         NaN
4                      NaN      flat_old   7.964500e+10         NaN
...                    ...           ...            ...         ...
51585  2019-10-03 15:36:21      flat_old   7.925446e+10   7850000.0
51586  2019-06-17 11:27:07      flat_old   7.926987e+10  32500000.0
51587  2019-10-01 08:35:10      flat_old   7.909933e+10   1275000.0
51588  2020-02-20 14:30:05      flat_old   7.903125e+10  33500000.0
51589  2020-04-04 13:20:25      flat_old   7.964500e+10   2000000.0

      ad_price_cur  ...  offer_similarOffersCount  offer_status offer_title  \
0              rur  ...                         0     published         NaN
1              rur  ...                         0     published         NaN
2              rur  ...                         0         draft         NaN
3              NaN  ...                         0     published         NaN
4              NaN  ...                         0     published         NaN
...            ...  ...                       ...           ...         ...
51585          rur  ...                         0     published         NaN
51586          rur  ...                         0     published         NaN
51587          usd  ...                         0     published         NaN
51588          rur  ...                         0     published         NaN
51589          usd  ...                         0     published         NaN

       offer_totalArea  offer_valueAddedServices_isColorized  \
0                106.0                                 False
1                130.0                                 False
2                108.5                                 False
3                 87.0                                 False
4                 55.0                                 False
...                ...                                   ...
51585             45.0                                 False
51586             80.0                                 False
51587            128.0                                 False
51588            113.0                                 False
51589            138.0                                 False

       offer_valueAddedServices_isPaid  offer_valueAddedServices_isPremium  \
0                                 True                               False
1                                 True                               False
2                                False                               False
3                                 True                               False
4                                 True                               False
...                                ...                                 ...
51585                             True                               False
51586                             True                               False
51587                             True                               False
51588                             True                               False
51589                             True                               False

       offer_valueAddedServices_isTop3  offer_wcType  offer_windowsViewType
0                                False           NaN          yardAndStreet
1                                False           NaN          yardAndStreet
2                                False           NaN                 street
3                                False           NaN          yardAndStreet
4                                False           NaN                   yard
...                                ...           ...                    ...
51585                            False           NaN                 street
51586                            False           NaN                   yard
51587                            False           NaN          yardAndStreet
51588                            False           NaN                   yard
51589                            False           NaN                   yard

[51590 rows x 225 columns]

In [3]:
df_train1=df_train.drop(columns=['offer_livingArea','offer_kitchenArea','offer_geo_railways_7_travelType','offer_building_hasGarbageChute','offer_building_buildYear','offer_bargainTerms_prices_usd','offer_bargainTerms_prices_rur','offer_bargainTerms_prices_eur','bti_district_regionTitle','offer_bargainTerms_leaseTermType','offer_balconiesCount','offer_building_materialType','offer_building_houseMaterialType','District2','ad_change_time','offer_wcType','offer_combinedWcsCount','url','date_saved','ad_breadCrumbs','ad_offerPhone','ad_price_cur','agent_isCianPartner','agent_isDeveloper','agent_isPrivateBroker','agent_isPro','agent_isRecidivist','agent_isSelfEmployed','agent_isSubAgent','agent_isUserOffersHasErrors','agent_userType','bti_house_houseOverhaulFundType','bti_house_isEmergency','bti_house_seriesName','company_newobjectsCount','company_offersCount','company_yearFoundation','newObject_stats_done','newObject_stats_progress','newObject_status','offer_added','offer_allRoomsArea','offer_archivedDate','offer_bargainTerms_agentBonus_currency','offer_bargainTerms_agentBonus_paymentType','offer_bargainTerms_agentBonus_value','offer_bargainTerms_currency','offer_bargainTerms_deposit','offer_bargainTerms_depositPrices_eur','offer_bargainTerms_depositPrices_rur','offer_bargainTerms_depositPrices_usd','offer_bargainTerms_saleType','offer_breadCrumbs','offer_building_ceilingHeight','offer_building_deadline_isComplete','offer_building_deadline_quarter','offer_building_deadline_quarterEnd','offer_building_deadline_year','offer_building_name','offer_building_parking_type','offer_building_passengerLiftsCount','offer_building_series','offer_cargoLiftsCount','offer_category','offer_deadline_isComplete','offer_deadline_quarter','offer_deadline_quarterEnd','offer_deadline_year','offer_decoration','offer_demolishedInMoscowProgramm','offer_description','offer_editDate','offer_flatType','offer_geo_highways_1_distance','offer_geo_highways_1_name','offer_geo_highways_2_distance','offer_geo_highways_2_name','offer_geo_highways_3_distance','offer_geo_highways_3_name','offer_geo_jk_displayName','offer_geo_railways_10_name','offer_geo_railways_10_time','offer_geo_railways_10_travelType','offer_geo_railways_11_name','offer_geo_railways_11_time','offer_geo_railways_11_travelType','offer_geo_railways_12_name','offer_geo_railways_12_time','offer_geo_railways_12_travelType','offer_geo_railways_7_name','offer_geo_railways_7_time','offer_geo_railways_7_time','offer_geo_railways_8_name','offer_geo_railways_8_time','offer_geo_railways_8_travelType','offer_geo_railways_9_name','offer_geo_railways_9_time','offer_geo_railways_9_travelType','offer_geo_undergrounds_1_releaseYear','offer_geo_undergrounds_2_lineColor','offer_geo_undergrounds_2_name','offer_geo_undergrounds_2_releaseYear','offer_geo_undergrounds_2_travelTime','offer_geo_undergrounds_2_travelType','offer_geo_undergrounds_2_underConstruction','offer_geo_undergrounds_3_name','offer_geo_undergrounds_3_releaseYear','offer_geo_undergrounds_3_lineColor','offer_geo_undergrounds_3_travelTime','offer_geo_undergrounds_3_travelType','offer_geo_undergrounds_3_underConstruction','offer_hasFurniture','offer_hasPhone','offer_hasRamp','offer_homeownerProofs','offer_isApartments','offer_isByHomeowner','offer_isFromBuilder','offer_isFromSeller','offer_isImported','offer_isInHiddenBase','offer_isPenthouse','offer_loggiasCount','offer_newbuilding_house_isFinished','offer_newbuilding_house_isReliable','offer_newbuilding_house_name','offer_newbuilding_isFromBuilder','offer_newbuilding_isFromDeveloper','offer_newbuilding_isFromLeadFactory','offer_newbuilding_isFromSeller','offer_newbuilding_isReliable','offer_newbuilding_name','offer_newbuilding_newbuildingFeatures_deadlineInfo','offer_newbuilding_newbuildingFeatures_imagesCount','offer_newbuilding_newbuildingFeatures_videosCount','offer_newbuilding_showJkReliableFlag','offer_passengerLiftsCount','offer_promoLabel','offer_publicationDate','offer_publishTerms_autoprolong','offer_publishTerms_terms_days','offer_publishTerms_terms_services','offer_publishTerms_terms_tariff','offer_publishTerms_terms_type','offer_rentByPartsDescription','offer_repairType','offer_roomType','offer_roomsForSaleCount','offer_rosreestrCheck','offer_separateWcsCount','offer_status','offer_title','offer_valueAddedServices_isColorized','offer_valueAddedServices_isPaid','offer_valueAddedServices_isPremium','offer_windowsViewType'])

In [4]:
df_train1.columns

Index(['District1', 'ad_objectType', 'ad_price', 'ad_stat_daily',
       'ad_stat_total', 'agent_accountType', 'agent_offersCount',
       'agent_userTrustLevel', 'bti_district_avgHouseAge',
       'bti_district_districtTitle', 'bti_district_priceSqm',
       'bti_district_priceSqmDiff', 'bti_district_roomRentPrice',
       'bti_district_roomRentPriceDiff', 'bti_district_roomSalePrice',
       'bti_district_roomSalePriceDiff',
       'bti_house_demolishedInMoscowProgramm', 'bti_house_entrances',
       'bti_house_flatCount', 'bti_house_floorMax',
       'bti_house_houseGasSupplyType', 'bti_house_houseHeatSupplyType',
       'bti_house_houseMaterialType', 'bti_house_houseOverlapType',
       'bti_house_lifts', 'bti_house_priceCian', 'bti_house_priceCianMax',
       'bti_house_priceCianMin', 'bti_house_priceSqm',
       'bti_house_priceSqmDiff', 'bti_house_roomRentPrice',
       'bti_house_roomRentPriceDiff', 'bti_house_yearRelease',
       'demandJsonQuery_price_gte', 'demandJsonQuery_price_lte',
       'offer_bargainTerms_mortgageAllowed', 'offer_bargainTerms_price',
       'offer_building_cargoLiftsCount', 'offer_building_floorsCount',
       'offer_building_totalArea', 'offer_floorNumber',
       'offer_geo_coordinates_lat', 'offer_geo_coordinates_lng',
       'offer_geo_railways_1_name', 'offer_geo_railways_1_time',
       'offer_geo_railways_1_travelType', 'offer_geo_railways_2_name',
       'offer_geo_railways_2_time', 'offer_geo_railways_2_travelType',
       'offer_geo_railways_3_name', 'offer_geo_railways_3_time',
       'offer_geo_railways_3_travelType', 'offer_geo_railways_4_name',
       'offer_geo_railways_4_time', 'offer_geo_railways_4_travelType',
       'offer_geo_railways_5_name', 'offer_geo_railways_5_time',
       'offer_geo_railways_5_travelType', 'offer_geo_railways_6_name',
       'offer_geo_railways_6_time', 'offer_geo_railways_6_travelType',
       'offer_geo_undergrounds_1_lineColor', 'offer_geo_undergrounds_1_name',
       'offer_geo_undergrounds_1_travelTime',
       'offer_geo_undergrounds_1_travelType',
       'offer_geo_undergrounds_1_underConstruction', 'offer_roomsCount',
       'offer_similarOffersCount', 'offer_totalArea',
       'offer_valueAddedServices_isTop3'],
      dtype='object')

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.model_selection import GridSearchCV

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, KFold 
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn import svm
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import PolynomialFeatures
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score

In [7]:
# обязательный код
df=df_train1.copy()
X=df.drop(columns=['ad_price']).values
y=df.ad_price.values
# сплитуйте X и y как хотите
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state=0, 
                                                    shuffle=True, stratify = df_train.ad_price)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [11]:
df_br=pd.read_csv('df_br',header=None,names=['longitude','latitude'])
df_cs=pd.read_csv('df_cs',header=None,names=['longitude','latitude'])
df_gs=pd.read_csv('df_gs',header=None,names=['longitude','latitude'])
df_m=pd.read_csv('df_m',header=None,names=['longitude','latitude'])
df_sm=pd.read_csv('df_sm',header=None,names=['longitude','latitude'])
df_t=pd.read_csv('df_t',header=None,names=['longitude','latitude'])
df_k=pd.read_csv('df_k',header=None,names=['longitude','latitude'])
df_p=pd.read_csv('df_p',header=None,names=['longitude','latitude'])
df_u=pd.read_csv('df_u',header=None,names=['longitude','latitude'])
df_h=pd.read_csv('df_h',header=None,names=['longitude','latitude'])
df_oc=pd.read_csv('df_oc',header=None,names=['longitude','latitude'])

In [39]:
import math


def distance(lat1,lon1,lat2,lon2):

    radius = 6371  # km

    dlat = math.radians(lat2 - lat1)
    dlon = math.radians(lon2 - lon1)
    a = (math.sin(dlat / 2) * math.sin(dlat / 2) +
         math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) *
         math.sin(dlon / 2) * math.sin(dlon / 2))
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    d = radius * c

    return d
def mp_cal(lat1,lon1,lat2,lon2):
    if distance(lat1,lon1,lat2,lon2)==0:
        first_step=0
    else:
        first_step=1/distance(lat1,lon1,lat2,lon2)
        return first_step

In [23]:
column_np=np.array([])
for lat1,lon1 in zip(df_train1.offer_geo_coordinates_lat, df_train1.offer_geo_coordinates_lng):
    Pls=np.array([])
    for lat2,lon2 in zip(df_br.latitude, df_br.longitude):
        Pls=np.append(Pls,mp_cal(lat1,lon1,lat2,lon2))
    column_np=np.append(column_np,sum(Pls))
new=list(column_np)
df_train1['mp_br']=new

TypeError: unsupported operand type(s) for -: 'str' and 'float'

In [41]:
column_np=np.array([])
for lat1,lon1 in zip(df_train1.offer_geo_coordinates_lat, df_train1.offer_geo_coordinates_lng):
    Pls=np.array([])
    for lat2,lon2 in zip(df_br.latitude, df_br.longitude):
        Pls=np.append(Pls,mp_cal(lat1,lon1,lat2,lon2))

        e = np.array([])
    for i in Pls:
        if i is None: 
            e=np.append(e,0)
        else:
            e=np.append(e,i)
    column_np=np.append(column_np,sum(e))
new=list(column_np)
df_train1['mp_br']=new

In [35]:
df_br=pd.read_excel('df_br.xlsx')

In [36]:
df_br

      Unnamed: 0  longitude   latitude
0              0  37.809479  55.700410
1              1  37.616243  55.729351
2              2  37.621741  55.727526
3              3  37.612173  55.711240
4              4  37.597127  55.766937
...          ...        ...        ...
1000        1000  37.566764  55.752323
1001        1001  37.559954  55.756614
1002        1002  37.620869  55.732200
1003        1003  37.586796  55.778193
1004        1004  37.562308  55.796046

[1005 rows x 3 columns]

In [42]:
df_train1.mp_br

0         79.828361
1        156.518341
2        239.967013
3        227.641826
4        218.409409
            ...
51585    104.872249
51586    139.330478
51587    192.414057
51588     97.302992
51589    323.264825
Name: mp_br, Length: 51590, dtype: float64